# Ejercicios

Usando el archivo data/parsed.csv y el material de este capítulo, complete los siguientes ejercicios para practicar sus habilidades con pandas:

1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.
2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.
3. Calcular las estadísticas resumidas de los terremotos en Nevada.
4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,
California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.
5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.
6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [12]:
import pandas as pd
import numpy as np

In [13]:
terremotos = pd.read_csv("./data/earthquakes.csv")

terremotos.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...

In [14]:
terremotos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [15]:
terremotos.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
25%,2.000000,0.020425,1.000000,66.142500,0.720000,2.680000,8.000000,0.119675,8.000000,1.537793e+12,0.000000,-540.000000,1.537996e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
75%,3.300000,0.177250,5.000000,159.000000,1.900000,4.570000,25.000000,0.590000,56.000000,1.538766e+12,0.000000,-480.000000,1.539110e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

>1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.

In [16]:
terremotos["magType"].unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

In [20]:
terremotos.describe(percentiles= [0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
95%,4.300000,2.678900,40.200000,276.000000,4.400000,6.380000,49.000000,0.960000,298.000000,1.539319e+12,0.000000,-60.000000,1.539400e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [41]:

terremotos["country"]= terremotos["place"].str.split(", ").str[1]

terremotos["country"].unique()

array(['CA', 'Dominican Republic', 'Alaska', 'Indonesia', 'Canada',
       'Puerto Rico', 'Montana', 'Nevada', 'Christmas Island', 'Hawaii',
       'Northern Mariana Islands', 'Japan', 'California', 'Ecuador',
       'Vanuatu', 'B.C.', 'Russia', 'British Virgin Islands',
       'Washington', 'Papua New Guinea', nan, 'U.S. Virgin Islands',
       'Chile', 'Peru', 'Yemen', 'NV', 'Guatemala', 'Kansas', 'Australia',
       'Wyoming', 'Oklahoma', 'Tennessee', 'Fiji', 'Utah', 'Colombia',
       'Argentina', 'Oregon', 'Greece', 'Missouri', 'Tajikistan',
       'Solomon Islands', 'Burma', 'Taiwan', 'Nicaragua',
       'South Georgia and the South Sandwich Islands', 'Idaho',
       'Kyrgyzstan', 'Arizona', 'Tonga', 'South Africa', 'Costa Rica',
       'China', 'Philippines', 'Mexico', 'Haiti', 'Jamaica', 'Kentucky',
       'New Zealand', 'Iran', 'Afghanistan', 'Saint Helena', 'Texas',
       'New Caledonia', 'El Salvador', 'Italy', 'North Carolina',
       'South Sandwich Islands', 'Bonaire', 'Pakistan', 'Bolivia',
       'Turkey', 'Mayotte', 'India', 'Arkansas', 'Guam', 'Uzbekistan',
       'Martinique', 'Honduras', 'East Timor', 'Barbuda', 'Mauritius',
       'Greenland', 'South Carolina', 'Vermont', 'Romania',
       'New Hampshire', 'Ecuador region', 'Colorado', 'Illinois',
       'Azerbaijan', 'Iraq', 'Somalia', 'New Mexico'], dtype=object)

In [42]:
terremotos[(terremotos["country"] == "Japan") & (terremotos["magType"] == "mb")].describe(percentiles= [0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,16.000000,50.000000,16.000000,50.000000,50.000000,0.0,0.0,50.000000,50.000000,5.000000e+01,50.0,50.000000,5.000000e+01
mean,2.881250,1.485080,11.187500,108.880000,4.530000,NaN,NaN,0.801800,318.080000,1.538218e+12,0.0,547.200000,1.538746e+12
std,0.883341,0.802257,20.672748,31.676709,0.266688,NaN,NaN,0.258589,38.570286,6.404535e+08,0.0,26.111222,5.518279e+08
min,1.000000,0.223000,1.000000,33.000000,4.000000,NaN,NaN,0.270000,246.000000,1.537258e+12,0.0,480.000000,1.537430e+12
50%,3.100000,1.271000,3.500000,112.000000,4.600000,NaN,NaN,0.810000,326.000000,1.538268e+12,0.0,540.000000,1.538886e+12
95%,3.875000,2.583200,35.500000,155.650000,4.900000,NaN,NaN,1.335500,371.750000,1.539090e+12,0.0,600.000000,1.539428e+12
max,4.100000,4.830000,85.000000,167.000000,5.400000,NaN,NaN,1.400000,451.000000,1.539449e+12,0.0,600.000000,1.539533e+12

> 2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.

In [43]:
indonesia = terremotos[(terremotos["type"]== "earthquake") & (terremotos["country"]=="Indonesia")]

total_terremotos = len(indonesia)

tsunamis = indonesia[indonesia["tsunami"] == True]

total_tsunamis = len(tsunamis)

if total_tsunamis > 0:
    porcentaje = (total_tsunamis / total_terremotos) * 100
    print(porcentaje)
else:
    print("No hay ningun terremoto acompañado de tsunamis en Indonesia")

23.12925170068027

>3. Calcular las estadísticas resumidas de los terremotos en Nevada.

In [47]:
terremotos_nevada= terremotos[(terremotos["type"] == "earthquake") & (terremotos["place"] == "Nevada")]

media = terremotos_nevada.mean()

mediana = terremotos_nevada.median()

moda = terremotos_nevada.mode()

desviacion_estandar= terremotos_nevada.std()

valor_max = terremotos_nevada.max()

valor_min = terremotos_nevada.min()

cuantiles = terremotos_nevada.quantile([0.25,0.5,0.75])

suma= terremotos_nevada.cumsum()

 >4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. 
 >Utiliza Alaska, Antártida (busca Antarctic), Bolivia, California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, 
 >Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, 
 >Rusia, Taiwán, Tonga y Washington.

In [199]:
cinturon_fuego = ["Alaska", "Antarctic", "Bolivia", "California", "Canada", "Chile",
                    "Costa Rica", "Ecuador", "Fiji", "Guatemala", "Indonesia", "Japan",
                    "Kermadec Islands", "Mexico", "New Zealand", "Peru", "Philippines",
                    "Russia", "Taiwan", "Tonga", "Washington"]


terremotos["cinturon de fuego"] = terremotos["place"].apply(lambda x: x in cinturon_fuego)

terremotos.head(2)

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,sources,types,nst,dmin,rms,gap,magType,type,title,cinturon de fuego
0,1.60,northern Alaska,1699574320362,1699574475288,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ak,",",origin,phase-data,",NaN,NaN,1.14,NaN,ml,earthquake,M 1.6 - northern Alaska,False
1,0.68,"2 km NNW of The Geysers, CA",1699574010710,1699574531658,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc,",",nearby-cities,origin,phase-data,scitech-link,",10.0,0.009218,0.02,76.0,md,earthquake,"M 0.7 - 2 km NNW of The Geysers, CA",False

>5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.

In [223]:
trues = len(terremotos[terremotos["cinturon de fuego"]== True])
print(trues)

falses = len(terremotos[terremotos["cinturon de fuego"]== False])
print(falses)

54
10114

>6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [253]:
tsunami = len(terremotos[(terremotos["tsunami"] == 1) & (terremotos["cinturon de fuego"] == True)])

tsunami

0