# LIBRERIAS

In [47]:
import pandas as pd
import sqlite3

In [48]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("./data/sql-murder-mystery.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [58]:
# Con esta funci√≥n leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

## CONSULTAS

In [61]:
query1= """
SELECT *
FROM crime_scene_report
WHERE type = "murder"
AND city = "SQL city"
AND date = 20180115
"""

sql_query(query1)

Empty DataFrame
Columns: [date, type, description, city]
Index: []

In [ ]:
query2= """
SELECT * name, address_number, address_street_name,
FROM person 
WHERE = address_street_name 
AND city = "SQL city"
AND date = 20180115
"""

sql_query(query2)