# Ex - GroupBy

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

### Paso 3. Asígnalo a una variable llamada bebidas.

In [4]:
bebidas = pd.read_csv(url)
bebidas

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [5]:
bebidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [6]:
bebidas.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [7]:
bebidas.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU

In [16]:
cerveza = bebidas.groupby("continent")["beer_servings"].mean()
continente = cerveza.idxmax()
continente

'EU'

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [23]:
vino = bebidas.groupby("continent")["wine_servings"].describe()
vino

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [26]:
bebidas.groupby("continent")["total_litres_of_pure_alcohol"].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [27]:
bebidas.groupby("continent")["total_litres_of_pure_alcohol"].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [29]:
bebidas.groupby("continent")["total_litres_of_pure_alcohol"].min()

continent
AF    0.0
AS    0.0
EU    0.0
OC    0.0
SA    3.8
Name: total_litres_of_pure_alcohol, dtype: float64

In [30]:
bebidas.groupby("continent")["total_litres_of_pure_alcohol"].max()

continent
AF     9.1
AS    11.5
EU    14.4
OC    10.4
SA     8.3
Name: total_litres_of_pure_alcohol, dtype: float64