# Ex2 - Filtrar y ordenar datos

Esta vez vamos a extraer los datos directamente de Internet.

### Paso 1. Importar las librerías necesarias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

In [2]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"

### Paso 3. Asígnalo a una variable llamada euro12.

In [5]:
euro12 = pd.read_csv(url)

euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [24]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

### Paso 4. Seleccione sólo la columna Objetivo.

In [19]:
euro12[["Goals"]]

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

### Paso 5. ¿Cuántos equipos participaron en la Eurocopa 2012?

In [26]:
euro12["Team"].count()

16

### Paso 6. ¿Cuál es el número de columnas del conjunto de datos?

In [36]:
len(euro12.columns)

35

### Paso 7. Vea sólo las columnas Equipo, Tarjetas Amarillas y Tarjetas Rojas y asígnelas a un marco de datos llamado disciplina

In [45]:
col = euro12[["Team","Yellow Cards","Red Cards"]]

disciplina = col

disciplina

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Paso 8. Ordena los equipos por tarjetas rojas y luego por tarjetas amarillas.

In [79]:
roja = disciplina[["Team","Red Cards"]].sort_values(by=["Red Cards","Team"]) 
roja

amarilla = disciplina[["Team","Yellow Cards"]].sort_values(by=["Yellow Cards","Team"]) 
amarilla

roja.reset_index(drop=True, inplace=True)
amarilla.reset_index(drop=True, inplace=True)

resultado = pd.concat([roja, amarilla], axis=1)

resultado

                   Team  Red Cards                 Team  Yellow Cards
0               Croatia          0              Denmark             4
1        Czech Republic          0              Germany             4
2               Denmark          0              England             5
3               England          0          Netherlands             5
4                France          0              Ukraine             5
5               Germany          0               France             6
6                 Italy          0  Republic of Ireland             6
7           Netherlands          0               Russia             6
8              Portugal          0       Czech Republic             7
9                Russia          0               Poland             7
10                Spain          0               Sweden             7
11               Sweden          0              Croatia             9
12              Ukraine          0               Greece             9
13               Greece          1                Spain            11
14               Poland          1             Portugal            12
15  Republic of Ireland          1                Italy            16

### Paso 9. Calcula la media de tarjetas amarillas por equipo

In [80]:
disciplina["Yellow Cards"].mean()

7.4375

### Paso 10. Filtrar los equipos que han marcado más de 6 goles

In [91]:
filtrar = euro12[(euro12["Goals"] >= 6) & (euro12["Team"])]

filtrar[["Goals","Team"]]

    Goals      Team
5      10   Germany
7       6     Italy
10      6  Portugal
13     12     Spain

In [103]:
goles = euro12[(euro12["Goals"] >= 6)]

equipos = goles["Team"]
equipos

5      Germany
7        Italy
10    Portugal
13       Spain
Name: Team, dtype: object

### Paso 11. Selecciona los equipos que empiezan por G

In [95]:
g = euro12[euro12["Team"].str.startswith("G")]
g[["Team"]]

      Team
5  Germany
6   Greece

### Paso 12. Seleccione las 7 primeras columnas

In [120]:
euro12.iloc[:, 0:7].head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65

### Paso 13. Seleccione todas las columnas excepto las 3 últimas.

In [123]:
euro12.iloc[:, :-3].head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0

### Paso 14. Presentar sólo la Precisión de Tiro de Inglaterra, Italia y Rusia.

In [167]:
paises = euro12[(euro12["Team"].isin(["England","Italy","Russia"]))]

precision = paises[["Team","Shooting Accuracy"]]
precision

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%