![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

## ANALIZANDO EL COSMOS: Eventos astronómicos

### TEMA

Se explorará cómo han cambiado y evolucionado los eventos astronómicos a lo largo de los años. Desde patrones estacionales hasta cómo estan relacionados los ciclos solares con algunos eventos astronomicos.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

**-Hipótesis principal:**

Que patrones estacionales hay en la aparicion de eventos astronómicos

**-Segunda hipótesis:**

Que eventos espaciales tienen algun impacto en la Tierra, como impactos de meteoritos

**-Tercera hipótesis:**

La relación de la aparicion de eventos astronómicos como auroras boreales o eclipses con los ciclos solares o actividad solar.

**-Cuarta hipótesis:**

Como varía la duración de ciertos eventos astronómicos a los largo del tiempo

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

**LINK de la base de datos que voy a usar en este EDA:**
>[NASA API](https://api.nasa.gov/)

>[PAGINA DE LA NASA](https://www.nasa.gov/)

>[CATALOGO DE DATOS DE LA NASA](https://data.nasa.gov/)

>[DATA patrones estacionales](https://ssd-api.jpl.nasa.gov/)

>[DATA eventos con impacto en la tierra](https://cneos.jpl.nasa.gov/fireballs/)

>[DATA 2 eventos con impacto en la tierra](https://ssd-api.jpl.nasa.gov/doc/fireball.html)

>[DATA Eventos astronómicos con ciclos solares](https://sdo.gsfc.nasa.gov/data/)

>[DATA duración de eventos astronómicos](https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html)

>[DATA de Eath Science](https://www.earthdata.nasa.gov/esdis)

>[Mas DATA](https://worldview.earthdata.nasa.gov/)

>[Mas DATA](https://ccmc.gsfc.nasa.gov/)

>[Kaggle nasa- nearest earth objects](https://www.kaggle.com/datasets/sameepvani/nasa-nearest-earth-objects/data)

>[Kaggle solar and lunar eclipses](https://www.kaggle.com/datasets/nasa/solar-eclipses)

Un ejemplo de parte de la Data que voy a utilizar:

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
fireballs = pd.read_csv("./cneos_fireball_data.csv")

In [5]:
fireballs.head()

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-10-30 07:22:56,42.9S,44.7W,33.8,17.6,2.8,12.7,11.9,2.600000e+10,0.092
1,2023-10-26 08:58:25,45.9N,174.8W,44.2,30.2,15.5,24.9,-7.0,2.910000e+11,0.780
2,2023-10-16 17:14:52,6.5S,65.4W,35.3,19.8,-12.2,14.9,-4.8,3.000000e+10,0.100
3,2023-10-14 22:55:26,8.4S,161.9W,37.0,19.3,19.3,-0.4,-1.3,5.400000e+10,0.180
4,2023-09-28 20:32:35,13.2N,72.4E,37.0,NaN,NaN,NaN,NaN,5.000000e+10,0.160

In [6]:
fireballs.describe()

,Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
count,509.000000,301.000000,301.000000,301.000000,301.000000,9.680000e+02,968.000000
mean,36.278389,18.109302,0.102990,-1.859468,-0.918937,7.409576e+11,1.211702
std,10.543125,5.764187,11.045404,11.413913,10.473376,1.216034e+13,14.402964
min,14.000000,9.800000,-35.400000,-43.500000,-31.200000,2.000000e+10,0.073000
25%,29.600000,14.200000,-8.500000,-10.000000,-9.100000,3.200000e+10,0.110000
50%,35.000000,16.900000,0.100000,-2.500000,-0.100000,6.200000e+10,0.200000
75%,40.700000,20.200000,8.600000,5.700000,6.900000,1.452500e+11,0.420000
max,74.000000,49.000000,27.800000,31.200000,27.000000,3.750000e+14,440.000000

In [7]:
fireballs.shape

(968, 10)

Otro ejemplo:

In [8]:
solar = pd.read_csv("./SolarPrediction.csv")

In [9]:
solar.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00

In [10]:
solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                32686 non-null  int64
 1   Data                    32686 non-null  object
 2   Time                    32686 non-null  object
 3   Radiation               32686 non-null  float64
 4   Temperature             32686 non-null  int64
 5   Pressure                32686 non-null  float64
 6   Humidity                32686 non-null  int64
 7   WindDirection(Degrees)  32686 non-null  float64
 8   Speed                   32686 non-null  float64
 9   TimeSunRise             32686 non-null  object
 10  TimeSunSet              32686 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB

In [11]:
solar.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,3.268600e+04,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,1.478047e+09,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,3.005037e+06,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.472724e+09,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.475546e+09,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,1.478026e+09,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,1.480480e+09,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1.483265e+09,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

In [12]:
solar.shape

(32686, 11)